{
  "env": {
    "mocha": true
  },
  "extends": "airbnb",
  "plugins": [
    "babel"
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": ["**/test.js", "**/test/*.js"]
    }],
    "max-len": ["error", 100, 2, {
      "ignoreStrings": true,
      "ignoreTrailingComments": true,
      "ignoreUrls": true
    }],
    "no-return-assign": ["error", "except-parens"]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "."
        ]
      }
    }
  }
}
