{
  "extends": "airbnb",
  "plugins": [
    "babel"
  ],
  "rules": {
    "max-len": ["error", 100, 2, {
      ignoreUrls: true,
      ignoreTrailingComments: true,
    }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "."
        ]
      }
    }
  }
}
